<<<<<<< HEAD
 div {
    background-color: rgb(205, 246, 246);
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
  p{ 
      background-color: yellow;
      max-width: 300px;
=======
p {
    border: 1px solid rgb(5, 31, 5) ; 
    padding: 50px;
    width 350px;
    background-color: rgb(158, 191, 253);
    margin: 5px 10px 15px 20px:
  } 
  .a {
      width 300px;
      background-color: yellow  ;
>>>>>>> 206f0aa9e8b16210ffd63cf671c97b0214bb993e
  }